.carousel-inner .carousel-item {
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.carousel-item-child {
	height: 100vh;
	margin: auto;
}