.carousel-inner .carousel-item {
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

img.carousel-item-child {
    width: 100%;
    height: auto;
    margin: auto;
}